* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/image/bg1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #acacac;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

#overlay {
    flex: 1;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 90%; 
    max-width: 600px;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0099;
    color: #fff;
    position: relative;
}

.navbar-left {
    display: flex;
    align-items: center;
    background-color: #c5c4c4;
    padding: 10px;
}

.navbar-left .logo {
    height: 50px;
    object-fit: contain;
}

.navbar-center {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

.navbar-center li {
    margin: 0 20px;
}

.navbar-center a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex;
    text-align: right;
    padding-right: 2%;
}

.user-info {
    margin-right: auto;
    margin-bottom: 5px;
}

.user-name {
    font-weight: bold;
    display: block;
}

.user-id {
    font-size: 0.9rem;
    display: block;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.queueInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

#queueId {
    text-align: end;
}

.queueButton {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    max-width: 80%;
    box-sizing: border-box;
}

.queueButton:hover {
    background-color: #555;
    color: #c51499;
}


/* Responsive Styling */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .navbar-center {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #ff0099;
        z-index: 10;
        padding: 10px 0;
        transition: all 0.7s ease;
    }

    .navbar-center.active {
        display: flex;
    }

    .navbar-center li {
        margin: 13px;
        text-align: center;
    }

    .navbar-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .user-info {
        margin-bottom: 5px;
        margin-right: auto;
    }

    .user-name {
        font-weight: bold;
        display: block;
    }

    .user-id {
        font-size: 0.9rem;
        display: block;
    }

    .button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #555;
    }
}

.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    margin-top: auto; /* Automatically moves footer to the bottom */
    position: relative; /* Prevents it from being fixed */
    width: 100%;
}